body {
  background-color: lightblue;
  font-family: 'Lato', sans-serif;
}

html, body, #root {
  height:100%;
}

#container {
  height: 100%;
}

#table {
	height:30%;
	overflow-y: scroll;
	margin: 1rem;
}